# ignore virtual environments
backend/vocabenv/
backend/venv/

# ignore Firebase service account key
backend/service-account.json

# ignore Python cache
__pycache__/
**/__pycache__/
*.pyc
backend/.venv/
__pycache__/
*.pyc
.DS_Store
.env
backend/.python-version
backend/service-account.json
